
.election-info {
background-color:#FFF;
width:90%; 
margin:0 auto; 
margin-bottom:15px;
padding:5px;
}

.candidate-name {
    font-size:2em;
    }
    
.candidate-frame {

    padding: 25px 0px 25px 0px;
    
}