body {
	padding:20px;
}
.row, .container {
	max-width:720px !important;
}
.menu .btn {
	width:100px;
	display:inline-block;
}
.hidden {
	display:none !important;
}
.modal-backdrop, .modal-backdrop.fade.in {
	opacity: .1;
	filter: alpha(opacity=10);
}
.inline-block {
	display:inline-block !important;
}
.pt5 {
	padding-top:5px;
}
.btn .badge {
	font-size: 10px;
	padding: 1px 5px 2px;
	margin-left: 10px;
}

a.bold-link {
	font-weight: bold;
}


/* COMMENTS */

.comment-row {
    margin-bottom: 10px;
}

.comment-date {
	font-style: italic;
	text-align: right;
}
